.form {
    flex: 1;
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__block {
        width: 100%;
        max-width: 456px;
        margin: 0 auto;
    }

    &__title {
        font-size: 4rem;
        font-weight: 500;
    }

    &__subtitle {
        font-size: 1.6rem;
        margin-top: 24px;

        a {
            color: #38cb89;
        }
    }

    &__input {
        display: block;
        width: 100%;
        margin-top: 32px;
        height: 40px;
        font-size: 1.6rem;
        border-bottom: 1px solid rgba(232, 236, 239, 1);
        background: none;
        color: #ffffff;

        &:focus {
            outline: none;
        }

    }

    &__password {
        position: relative;

        div {
            width: 24px;
            height: 24px;
            position: absolute;
            top: calc(50% - 12px);
            right: 0;
            cursor: pointer;
        }

        &__show {
            background: url(/hide.svg) no-repeat;

        }

        &__hide {
            background: url(/eye.svg) no-repeat;
        }

        input {
            padding-right: 30px;
        }
    }


    &__box {
        margin-top: 32px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__remember {
        font-size: 1.6rem;
        cursor: pointer;

        input {
            display: none;

            &:checked+span {
                &::before {
                    background: url(/checked.svg) no-repeat center rgba(108, 114, 117, 1);
                }
            }
        }

        span {
            display: block;
            position: relative;
            padding-left: 36px;

            &::before {
                content: '';
                width: 24px;
                height: 24px;
                border: 2px solid rgba(108, 114, 117, 1);
                border-radius: 4px;
                display: block;
                position: absolute;
                top: -3px;
                left: 0;

            }
        }
    }

    &__privacy {
        font-size: 1.6rem;

        input {
            display: none;

            &:checked+p {
                &::before {
                    background: url(/checked.svg) no-repeat center rgba(108, 114, 117, 1);
                }
            }
        }

        p {
            display: block;
            position: relative;
            padding-left: 36px;

            &::before {
                content: '';
                width: 24px;
                height: 24px;
                border: 2px solid rgba(108, 114, 117, 1);
                border-radius: 4px;
                display: block;
                position: absolute;
                top: -3px;
                left: 0;
                cursor: pointer;
            }

            a {
                font-weight: 600;
            }
        }
    }

    &__forgot {
        font-size: 1.6rem;
        font-weight: 600;
    }

    &__submit {
        width: 100%;
        height: 48px;
        line-height: 48px;
        background: #ffffff;
        color: #000000;
        border-radius: 8px;
        font-size: 1.6rem;
        margin-top: 32px;
    }

    &__error {
        color: red;
        margin-top: 5px;
    }

    &__success {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        &__inner {
            background: #ffffff;
            color: #000000;
            padding: 30px;
            text-align: center;

        }

        &__title {
            margin-top: 40px;
            font-size: 4.8rem;
            font-weight: 600;
        }

        &__txt {
            max-width: 558px;
            margin-top: 16px;
            color: rgba(142, 149, 169, 1);
            margin: 16px auto 24px;
        }

        &__button {
            a {
                display: block;
                width: 139px;
                line-height: 56px;
                text-align: center;
                color: rgba(255, 255, 255, 1);
                font-size: 1.6rem;
                margin: 0 auto;
                border-radius: 12px;
                background: rgba(123, 110, 246, 1);
            }
        }
    }
}