@import './../../styles/mixin';

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 24px;

    &__item {
        position: relative;
        @include percent(width, 1200, 282);
        padding: 8px;
        border-radius: 16px;
        background: #20283E;
        margin-bottom: 20px;

        &:nth-child(4n+1) {
            margin-left: 0;
        }

        @include sp {
            width: 48%;
        }

        @include max-w(425px) {
            width: 100%;
        }
    }

    &__img {
        width: 100%;
        border-radius: 16px;
        overflow: hidden;
        position: relative;
        height: 400px;

        @include max-w(1024px) {
            height: 300px;
        }

        @include sp {
            height: 400px;
        }

        img {
            object-fit: cover;
        }
    }

    &__title {
        padding: 24px 8px;
    }

    &__start {
        border-radius: 4px;
        line-height: 40px;
        background: url(/star.svg) no-repeat center left 8px #000000;
        padding: 0 8px 0 28px;
        position: absolute;
        top: 18px;
        left: 16px;
        z-index: 1;
    }
}

.suggestthis {
    color: rgba(123, 110, 246, 1);
    font-size: 1.6rem;
    padding-left: 40px;
    margin: -10px 0 12px;
    background: url(/like.svg) no-repeat center left 7px;
}

.watched {
    color: rgba(55, 216, 167, 1);
    font-size: 1.6rem;
    padding-left: 40px;
    margin: -10px 0 12px;
    background: url(/watched.svg) no-repeat center left 7px;
}