.search {
    margin-top: 24px;

    input {
        background: url(/search.svg) no-repeat center left 15px;
        font-size: 1.4rem;
        border-radius: 10px;
        width: 344px;
        height: 64px;
        border: 1px solid #253148;
        color: #ffffff;
        padding: 0 56px;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: #475069;
            opacity: 1;
        }

        &::-ms-input-placeholder {
            color: #475069;
        }
    }
}